.contact-section {
    padding: 10em;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.contact-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #B67162;
    font-family: 'Austin Trial',
            serif;
}

.contact-section p {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
}

.contact-section form {
    margin-top: 1em;
    margin-bottom: 2em;
    
}

.contact-section .form-group {
    margin-bottom: 1em;
}

.contact-section .form-label {
    font-weight: bold;
    color: #B67162;
}

.contact-section .form-control {
    border-radius: 8px;
    padding: 1rem;
    border: #B67162;
    margin-bottom: 2em;
}

.contact-section .btn-primary {
    background-color: #B67162;
    color: white;
    font-family: 'Austin';
        src: url('/fonts/Austin-Light-Trial.otf') format('opentype');
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    
}

.contact-section .btn-primary:hover {
    background-color: var(--color-navbar);
}
.contact-section .canvas-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 390px) {
    .contact-section {
        padding: 8em 0.5em;
    }

    .contact-heading {
        font-size: 2.2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .contact-section p {
        font-size: 1rem;
        margin-bottom: 0.75em;
        text-align: center;
    }

    .contact-section form {
        margin-top: 0.5em;
        margin-bottom: 1em;
        width: 100%;
    }

    .contact-section .form-group {
        margin-bottom: 0.75em;
    }

    .contact-section .form-label {
        font-size: 0.7rem;
    }

    .contact-section .form-control {
        padding: 0.75rem;
        margin-bottom: 1em;
        font-size: 0.6em;
    }

    .contact-section .btn-primary {
        width: 100%;
        padding: 0.75rem 0;
        font-size: 1.1rem;
    }

    .contact-section .canvas-container {
        max-width: 100vw;
        padding: 0;
    }
}