.contact-section {
    padding: 10em;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.contact-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #B67162;
    font-family: 'Austin Trial',
            serif;
}

.contact-section p {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
}

.contact-section form {
    margin-top: 1em;
    margin-bottom: 2em;
    
}

.contact-section .form-group {
    margin-bottom: 1em;
}

.contact-section .form-label {
    font-weight: bold;
    color: #B67162;
}

.contact-section .form-control {
    border-radius: 8px;
    padding: 1rem;
    border: #B67162;
    margin-bottom: 2em;
}

.contact-section .btn-primary {
    background-color: #B67162;
    color: white;
    font-family: 'Austin Trial',
            serif;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    
}

.contact-section .btn-primary:hover {
    background-color: var(--color-navbar);
}
.contact-section .canvas-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}