.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 10rem;
    padding-right: 10em;
    
}


.logo-container {
    display: inline-block;
    position: relative;
}

.floral-logo {
    width: 450px;
    height: 450px;
    margin: 0 auto 1rem;
    margin-left:9em;
}

.name-heading {
    font-size: 9rem;
    line-height: 1.1;
    margin: 0;
    color: var(--color-text);
    padding-left: 3em;
    text-align: left;
}
